<div class="search">
  <label for="new-hero">名称: </label>
  <input id="new-hero" #heroName />
  <!-- 添加事件add 同时清空input输入框 -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    添加
  </button>
</div>
<ul class="heroes">
  <!-- *ngFor 指令 -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/hero/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <!-- 删除 -->
    <button type="button" class="delete" title="delete hero"
  (click)="delete(hero)">x</button>
  </li>
</ul>