<p>instruction works!</p>
<h1>ngFor</h1>
<ul>
    <li *ngFor="let item of empList">{{item}}</li>
</ul>


<!-- index -->
<ul>
    <li *ngFor="let item of empList; index as i;">{{i+1}} - {{item}}</li>
</ul>


<h1>ngIf</h1>
<div *ngIf="isGetThis">
    我是if可见
</div>
<div>
    <div *ngIf="isGetThis; else elseGetTHis">
        我是if可见
    </div>
    <ng-template #elseGetTHis>
        我是else可见
    </ng-template>
</div>
<button (click)="btnchange()">修改getthis</button>

<h1>ngStyle</h1>
<button [ngStyle]="myStyleObj">我是二肥</button>

<h1>ngClsss</h1>
<button [ngClass]="myClassObj" (click)="loadMore()">我是二肥</button>

<h1>ngSwitch</h1>
<div [ngSwitch]="level">
    <div *ngSwitchCase="'normal'">普通用户</div>
    <div *ngSwitchCase="'vip'">会员</div>
    <div *ngSwitchDefault>尚未登录</div>
</div>


<h1>双向数据绑定 ngModel</h1>
<input type="text" placeholder="请输入" [(ngModel)]="username">
<p>当前输入的用户名为：{{username}}</p>

<h1>专用事件 noModelChange</h1>
<input type="text" placeholder="请输入" [(ngModel)]="changeValue" (ngModelChange)="doValueChange()">
<p>当前输入的值为：{{changeValue}}</p>