.btn {
    padding: 8px 15px;
    border-radius: 3px;
    color: #fff;
    border-width: 1px;
}
.btn-danger {
    background-color: red;
    border-color: blue;
}
.btn-success {
    background-color: green;
    border-color: greenyellow;
}