<div class="searchbox">
  <input class="search" type="text" placeholder="添加任务事项" #todoName>
  <button type="button" (click)="addTodo(todoName.value);todoName.value=''">添加</button>
</div>

<!--  -->
<h2>未完成</h2>
<div class="todobox">
  <div *ngFor="let item of todoList; let key = index" [hidden]="item.completed">
    <input type="checkbox" class="toggle" [checked]="item.completed" (click)="toggle(item)">
    <!-- <input type="checkbox" class="toggle" [(ngModel)]="item.completed" (click)="toggle(item)"> -->
    <span style="margin-left: 10px;">{{item.title}}</span>
    <button type="button" (click)="remove(key)">x</button>
  </div>
</div>

<!-- 已完成 -->
<h2>已完成</h2>
<div class="todobox">
  <div *ngFor="let item of todoList; let key = index" [hidden]="!item.completed">
    <input type="checkbox" class="toggle" [checked]="item.completed" (click)="toggle(item)" />
    <span style="margin-left: 10px;">{{item.title}}</span>
    <button type="button" (click)="remove(key)">x</button>
  </div>
</div>