.searchbox {
  display: flex;
}

.search {
  padding: .5rem;
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}

.todobox {
  width: 100%;
 
  /* padding: 0.8em; */
  /* height: 3em; */
  color: white;
  /* align-items: center; */
}
.todobox div {
  border-radius: 5px;
  padding: 10px 0;
  /* margin: 5px; */
  background-color: #405061;
  margin-top: 10px;
}
.todobox input {
  zoom: 100%;
}
.todobox button {
  float: right;
  margin-right: 10px;
}