<h2>英雄之旅</h2>

<!-- 数据绑定 -->
<!-- <div><span>id: </span>{{heroes.id}}</div> -->
<!-- 管道 -->
<!-- <div><span>name: </span>{{heroes.name | uppercase}}</div> -->
<!-- 双向绑定 [(ngModel)] -->
<!-- <div>
  <label for="name">英雄名称</label>
  <input id="name" [(ngModel)]="heros.name" placeholder="name">
</div> -->


<nav>
  <a routerLink="/hero">看板</a>
  <a routerLink="/hero/list">列表</a>
</nav>
<router-outlet></router-outlet>

<!-- 详情列表组件 -->
<!-- 父传子 -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

<!-- 展示消息组件 -->
<app-message></app-message>

